In [1]:
%run ../src/start.py

python	3.8.5 (default, Sep  4 2020, 07:30:14)
[GCC 7.3.0]
---------------------
Versions:
----------------------
pandas      1.1.2
numpy       1.19.1
matplotlib  3.3.1
seaborn     0.11.0
plotly      4.11.0
----------------------


Loaded Libraries
-------------------
import pandas as pd
import numpy as np
import sys,os
import re
import glob
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
----------------


GLOBAL VARIABLES
--------------------------
HERE_DIR: list current directory path
RAW_DIR: list files in `data\raw` directory
INTER_DIR: list files in `data\interim` directory
FINAL_DIR: list files in `data\final` directory
SRC_DIR: list files in `src\` directory
------------------------------

# SAVE PLOTS
To save a plot call
`save_plots(fig_variable,'name_of_plot')`

source file: src/start.py

In [4]:
ls ../data/raw/crime_data/2018

'~$06-2018.NIBRS_Public_Data_Group_A&B.xlsx'*
'~$09-2018.NIBRS_Public_Data_Group_A&B.xlsx'*
'06-2018.NIBRS_Public_Data_Group_A&B.xlsx'*
'07-2018.NIBRS_Public_Data_Group_A&B.xlsx'*
'08-2018.NIBRS_Public_Data_Group_A&B.xlsx'*
'09-2018.NIBRS_Public_Data_Group_A&B.csv'*
'09-2018.NIBRS_Public_Data_Group_A&B.xlsx'*
'10-2018.NIBRS_Public_Data_Group_A&B.xlsx'*
'11-2018.NIBRS_Public_Data_Group_A&B.xlsx'*
'12-2018.NIBRS_Public_Data_Group_A&B.xlsx'*
 apr18.xls*
 feb18.xls*
 jan18.xls*
 mar18.xls*
 may18.xls*

In [5]:
file_name = '09-2018.NIBRS_Public_Data_Group_A&B.csv'
raw_data = os.path.join('..', 'data','raw','crime_data','2018',f'{file_name}')

In [6]:
df = pd.read_csv(raw_data)
df.columns = df.columns.str.lower().str.replace(' ','_').str.replace('\n','_').str.strip()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20397 entries, 0 to 20396
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   unnamed:_0   20386 non-null  object
 1   unnamed:_1   0 non-null      float64
 2   unnamed:_2   20386 non-null  object
 3   unnamed:_3   1 non-null      object
 4   unnamed:_4   20386 non-null  object
 5   unnamed:_5   1 non-null      object
 6   unnamed:_6   20386 non-null  object
 7   unnamed:_7   20367 non-null  object
 8   unnamed:_8   20386 non-null  object
 9   unnamed:_9   20272 non-null  object
 10  unnamed:_10  0 non-null      float64
 11  unnamed:_11  20386 non-null  object
 12  unnamed:_12  1 non-null      object
 13  unnamed:_13  0 non-null      float64
 14  unnamed:_14  18723 non-null  object
 15  unnamed:_15  1 non-null      object
 16  unnamed:_16  2883 non-null   object
dtypes: float64(3), object(14)
memory usage: 2.6+ MB

In [7]:
df

,unnamed:_0,unnamed:_1,unnamed:_2,unnamed:_3,unnamed:_4,unnamed:_5,unnamed:_6,unnamed:_7,unnamed:_8,unnamed:_9,unnamed:_10,unnamed:_11,unnamed:_12,unnamed:_13,unnamed:_14,unnamed:_15,unnamed:_16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4/30/2019 1:43:31 PM,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Public View of NIBRS Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 1,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20392,2018-09-30,NaN,23,NaN,Motor vehicle theft,NaN,1,4F10,"Residence, Home (Includes Apartment)",10300-10399,NaN,WESTVIEW,NaN,NaN,DR,NaN,NaN
20393,2018-09-30,NaN,23,NaN,Motor vehicle theft,NaN,1,3B40,"Highway, Road, Street, Alley",200-299,NaN,SPELL,NaN,NaN,NaN,NaN,NaN
20394,2018-09-30,NaN,23,NaN,Motor vehicle theft,NaN,1,17E30,"Parking Lot, Garage",11500-11599,NaN,KEEGANS RIDGE,NaN,NaN,RD,NaN,NaN
20395,2018-09-30,NaN,23,NaN,"Destruction, damage, vandalism",NaN,1,1A50,Community Center,3100-3199,NaN,TIMMONS,NaN,NaN,LN,NaN,NaN
20396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN